<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.plist.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>5d1c8f19b86411f032d647de174ca7cd</string>
			<key>Key</key>
			<string>94bf8963c8ef945e919adb1ee38f8d74</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/DeviceTree.n45ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.n45ap.patch</string>
			<key>IV</key>
			<string>45e941e4b6f9e7c61062142069877101</string>
			<key>Key</key>
			<string>a8a2aaf7bb841311bab17728d157d7da</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>IV</key>
			<string>3525bab8a8375143469c5c6a4533d9bc</string>
			<key>Key</key>
			<string>e8a54cb7b34773d67a2e6540c588129f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/LLB.n45ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>1007fd4b6d504082573ae48d96fa88e7</string>
			<key>Key</key>
			<string>94bd127dfec81a27a486d599b821875e</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3783-2.dmg</string>
			<key>Patch</key>
			<string>018-3783-2.patch</string>
			<key>Patch2</key>
			<string>018-3783-2-nowipe.patch</string>
			<key>IV</key>
			<string>29681f625d1f61271ec3116601b8bcde</string>
			<key>Key</key>
			<string>850afc271132d15ae6989565567e65bf</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/iBoot.n45ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.n45ap.RELEASE.patch</string>
			<key>IV</key>
			<string>cdb10c7743b9480ce64cf902b6ce0f05</string>
			<key>Key</key>
			<string>e2f7a77e406653e3ad0306b6fd3afe63</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.apptapp.Installer2</string>
		<string>org.saurik.cydia2</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3787-1.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>430</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RamdiskSize</key>
	<integer>25</integer>
	<key>RootFilesystemKey</key>
	<string>2CFCA55AABB22FDE7746E6A034F738B7795458BE9902726002A8341995558990F41E3755</string>
	<key>RootFilesystemMountVolume</key>
	<string>BigBear5A347.N45OS</string>
	<key>SHA1</key>
	<string>ae82798e85f9953b0f4798bad36187cb020c9d22</string>
	<key>Filename</key>
	<string>iPod1,1_2.0_5A347_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod1,1_2.0_5A347</string>
	<key>Platform</key>
	<integer>2</integer>
</dict>
</plist>
