<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BasebandPatches</key>
	<dict>
		<key>BBUpdater</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/bbupdater</string>
			<key>Patch</key>
			<string>bbupdater.patch</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/bin/bbupdater</string>
		</dict>
		<key>Baseband EEP</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.eep</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.eep</string>
		</dict>
		<key>Baseband FLS</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.fls</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.fls</string>
		</dict>
		<key>Bootloader 3.9</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl39.bin</string>
		</dict>
		<key>Bootloader 4.6</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl46.bin</string>
		</dict>
	</dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.plist.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>bf67cfba9160ad7dbdf44f2baf176458</string>
			<key>Key</key>
			<string>4b69f6c9eed042cacf89fc575ff3b193</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/DeviceTree.m68ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.m68ap.patch</string>
			<key>IV</key>
			<string>45254ae98f0e3460e5190812ac627b15</string>
			<key>Key</key>
			<string>26d739a57194a59926edb4112798c447</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>IV</key>
			<string>285df0aa00b76e8c0b9870a4dd7bd5f6</string>
			<key>Key</key>
			<string>444f19d072e725f8a27d88ce50ce73de</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/LLB.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>0e1504c70c2b7eabe2488a5bf7b1ac60</string>
			<key>Key</key>
			<string>2e5d3470a5a1c9ab8b6c7c334569e86f</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3885-4.dmg</string>
			<key>Patch</key>
			<string>018-3885-4.patch</string>
			<key>Patch2</key>
			<string>018-3885-4-nowipe.patch</string>
			<key>IV</key>
			<string>41635ec693a988279067d1200c88b7a6</string>
			<key>Key</key>
			<string>ace2eff2c089a51328c9ec5040e1238d</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3881-4.dmg</string>
			<key>Patch</key>
			<string>018-3881-4.patch</string>
			<key>IV</key>
			<string>e33d5c7af40422bb32a9e522cb0448b0</string>
			<key>Key</key>
			<string>fc0dfb4d99bfb020621f28f3d6ed774b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
			<key>IV</key>
			<string>2e3a392e8c2e0e5c9f00ef4c23259596</string>
			<key>Key</key>
			<string>dedefcf601e83b05dcd36bce41b83e5e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.apptapp.Installer2</string>
		<string>org.saurik.cydia2</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3884-4.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>438</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RamdiskSize</key>
	<integer>21</integer>
	<key>RootFilesystemKey</key>
	<string>2CFCA55AABB22FDE7746E6A034F738B7795458BE9902726002A8341995558990F41E3755</string>
	<key>RootFilesystemMountVolume</key>
	<string>BigBear5B108.M68OS</string>
	<key>SHA1</key>
	<string>61de6a2bd6ceddc9ecabad1671b91a59b3824bc4</string>
	<key>Filename</key>
	<string>iPhone1,1_2.0.1_5B108_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,1_2.0.1_5B108</string>
	<key>Platform</key>
	<integer>1</integer>	
</dict>
</plist>
