<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>24b311c220a2d5947e45c37a24e91c90</string>
			<key>Key</key>
			<string>4157f794afedbb68b6e3d40771b23fd8</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/DeviceTree.n45ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.n45ap.patch</string>
			<key>IV</key>
			<string>19bbf618dc53ce410735c321f65e5d75</string>
			<key>Key</key>
			<string>22b69c8b63b1ae9e9ed2a481006fff8b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>IV</key>
			<string>ff4c66886a10aaea2a8fff0f70dd201a</string>
			<key>Key</key>
			<string>a3ad8e780bc8148e8e6299d3352b96bc</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/LLB.n45ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>46f155e69a37cbbf2b6c81fd1fe7a9c7</string>
			<key>Key</key>
			<string>f26e84c8d9ea34ea913608b47d66bdf7</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-4378-1.dmg</string>
			<key>Patch</key>
			<string>018-4378-1.patch</string>
			<key>Patch2</key>
			<string>018-4378-1-nowipe.patch</string>
			<key>IV</key>
			<string>182cdda90a38870de96880ee7ff5bbbc</string>
			<key>Key</key>
			<string>eea6e87824a3c0b0be86e8e2bbd8cfe9</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-4377-1.dmg</string>
			<key>Patch</key>
			<string>018-4377-1.patch</string>
			<key>IV</key>
			<string>93c059c2116e1957a3c414ec336b1d27</string>
			<key>Key</key>
			<string>4cce03e3467e5c830f1ac8bd9cabe8ae</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/iBoot.n45ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.n45ap.RELEASE.patch</string>
			<key>IV</key>
			<string>fa650c0c8020ca1f55798e578f03d19d</string>
			<key>Key</key>
			<string>df2c48c433396651c88d76d5003b8d39</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.ripdev.install</string>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-4055-127.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>437</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RootFilesystemKey</key>
	<string>dc39d88afe4cbd8a3f36824b8fd68acf04ac72718c09100816c5cb89889b8079e96802f0</string>
	<key>RootFilesystemMountVolume</key>
	<string>Timberline5G77.N45OS</string>
	<key>SHA1</key>
	<string>081a7de363230fb38d0ce092cbbe42f2a50c8a5f</string>
	<key>Filename</key>
	<string>iPod1,1_2.2_5G77_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod1,1_2.2_5G77</string>
	<key>Platform</key>
	<integer>2</integer>
</dict>
</plist>
