<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Installer</string>
	<key>Identifier</key>
	<string>com.apptapp.Installer</string>
	<key>Description</key>
	<string>Third-party application manager.</string>
	<key>SupportedFirmware</key>
	<array>
		<string>iPhone1,1_1.1.4_4A102</string>
		<string>iPod1,1_1.1.4_4A102</string>
	</array>
	<key>Commands</key>
	<array>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Applications/Installer.app/Installer</string>
			<key>Permission</key>
			<string>+s</string>
		</dict>
	</array>
	<key>Size</key>
	<integer>1547732</integer>
</dict>
</plist>
