<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>BSD Subsystem</string>
	<key>Identifier</key>
	<string>org.iphone-dev.bsd.subsystem</string>
	<key>Description</key>
	<string>Set of Unix tools and frameworks.</string>
	<key>SupportedFirmware</key>
	<array>
		<string>iPhone1,1_2.0_5A240d</string>
		<string>iPhone1,1_1.2.0_5A225c</string>
		<string>iPhone1,1_1.2.0_5A147p</string>
		<string>iPod1,1_2.0_5A240d</string>
		<string>iPod1,1_2.0_5A225c</string>
	</array>
	<key>Commands</key>
	<array>
	</array>
	<key>Size</key>
	<integer>15792527</integer>
</dict>
</plist>
