<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BasebandPatches</key>
	<dict>
		<key>BBUpdater</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/bbupdater</string>
			<key>Patch</key>
			<string>bbupdater.patch</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/bin/bbupdater</string>
		</dict>
		<key>Baseband EEP</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.eep</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.eep</string>
		</dict>
		<key>Baseband FLS</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.fls</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.fls</string>
		</dict>
		<key>Bootloader 3.9</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl39.bin</string>
		</dict>
		<key>Bootloader 4.6</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl46.bin</string>
		</dict>
	</dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.plist.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>bf67cfba9160ad7dbdf44f2baf176458</string>
			<key>Key</key>
			<string>4b69f6c9eed042cacf89fc575ff3b193</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/DeviceTree.m68ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.m68ap.patch</string>
			<key>IV</key>
			<string>45254ae98f0e3460e5190812ac627b15</string>
			<key>Key</key>
			<string>26d739a57194a59926edb4112798c447</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/LLB.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>0e1504c70c2b7eabe2488a5bf7b1ac60</string>
			<key>Key</key>
			<string>2e5d3470a5a1c9ab8b6c7c334569e86f</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-4000-1.dmg</string>
			<key>Patch</key>
			<string>018-4000-1.patch</string>
			<key>Patch2</key>
			<string>018-4000-1-nowipe.patch</string>
			<key>IV</key>
			<string>cbafeb5d381dcba6a6dd94edc3b63bfe</string>
			<key>Key</key>
			<string>3635e76652cd326c3005a6eb48e549cc</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3984-1.dmg</string>
			<key>Patch</key>
			<string>018-3984-1.patch</string>
			<key>IV</key>
			<string>537eb4e7129ea81f572ec23dbec42b80</string>
			<key>Key</key>
			<string>cc028fd29dc27f895e401d9865e72100</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
			<key>IV</key>
			<string>2e3a392e8c2e0e5c9f00ef4c23259596</string>
			<key>Key</key>
			<string>dedefcf601e83b05dcd36bce41b83e5e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.ripdev.install</string>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3998-1.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>438</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RootFilesystemKey</key>
	<string>31E3FF09FF046D5237187346EE893015354D2135E3F0F39480BE63DD2A18444961C2DA5D</string>
	<key>RootFilesystemMountVolume</key>
	<string>BigBear5C1.M68OS</string>
	<key>SHA1</key>
	<string>b84b57bea919bdc720287ec908c1378e7d7b5e1b</string>
	<key>Filename</key>
	<string>iPhone1,1_2.0.2_5C1_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,1_2.0.2_5C1</string>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-5246.20080818.2V0hO/iPhone1,1_2.0.2_5C1_Restore.ipsw</string>
	<key>Platform</key>
	<integer>1</integer>	
</dict>
</plist>
