<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BasebandPatches</key>
	<dict>
		<key>BBUpdater</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/bbupdater</string>
			<key>Patch</key>
			<string>bbupdater.patch</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/bin/bbupdater</string>
		</dict>
		<key>Baseband EEP</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.eep</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.eep</string>
		</dict>
		<key>Baseband FLS</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.fls</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.fls</string>
		</dict>
		<key>Bootloader 3.9</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl39.bin</string>
		</dict>
		<key>Bootloader 4.6</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl46.bin</string>
		</dict>
	</dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.plist.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>5d1c8f19b86411f032d647de174ca7cd</string>
			<key>Key</key>
			<string>94bf8963c8ef945e919adb1ee38f8d74</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/DeviceTree.m68ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.m68ap.patch</string>
			<key>IV</key>
			<string>ad41f2ba3bc2f722acdf168e6730d375</string>
			<key>Key</key>
			<string>462631c8489390443f82665a6d257c6a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>IV</key>
			<string>3525bab8a8375143469c5c6a4533d9bc</string>
			<key>Key</key>
			<string>e8a54cb7b34773d67a2e6540c588129f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/LLB.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>1007fd4b6d504082573ae48d96fa88e7</string>
			<key>Key</key>
			<string>94bd127dfec81a27a486d599b821875e</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3786-2.dmg</string>
			<key>Patch</key>
			<string>018-3786-2.patch</string>
			<key>Patch2</key>
			<string>018-3786-2-nowipe.patch</string>
			<key>IV</key>
			<string>e0076e8068eee1f05d8a05388d3d6a92</string>
			<key>Key</key>
			<string>e7004df999fcb34e14c4223ed029233b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
			<key>IV</key>
			<string>1306ced060ed795ccb410271eef06259</string>
			<key>Key</key>
			<string>6ee2b333ca5848970af891caa0cb7a6a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.apptapp.Installer2</string>
		<string>org.saurik.cydia2</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3785-2.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>438</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RamdiskSize</key>
	<integer>19</integer>
	<key>RootFilesystemKey</key>
	<string>2CFCA55AABB22FDE7746E6A034F738B7795458BE9902726002A8341995558990F41E3755</string>
	<key>RootFilesystemMountVolume</key>
	<string>BigBear5A347.M68OS</string>
	<key>SHA1</key>
	<string>9c510a3cfce789fa5f92a8f763c231bac82ff6d4</string>
	<key>Filename</key>
	<string>iPhone1,1_2.0_5A347_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,1_2.0_5A347</string>
	<key>Platform</key>
	<integer>1</integer>	
</dict>
</plist>
