<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BasebandPatches</key>
	<dict>
		<key>BBUpdater</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/bbupdater</string>
			<key>Patch</key>
			<string>bbupdater.patch</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/bin/bbupdater</string>
		</dict>
		<key>Baseband EEP</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.eep</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.eep</string>
		</dict>
		<key>Baseband FLS</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.fls</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.fls</string>
		</dict>
		<key>Bootloader 3.9</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl39.bin</string>
		</dict>
		<key>Bootloader 4.6</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl46.bin</string>
		</dict>
	</dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>c9721629a4d994932c802f4277a9bcee</string>
			<key>Key</key>
			<string>97bfa5c532bf1cef85a147c9eb78e77a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/DeviceTree.m68ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.m68ap.patch</string>
			<key>IV</key>
			<string>e7a5c596612f2cae195f8c4cca19da9a</string>
			<key>Key</key>
			<string>4f140e2e56f32e923e75502e734834ce</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>IV</key>
			<string>2b4764d4c5bdeaa4cea2100eac7c47bb</string>
			<key>Key</key>
			<string>de52cebf74b7747360535fde5c331bd1</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/LLB.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>80a64935155a9af54e39fb7c0aa52bd1</string>
			<key>Key</key>
			<string>e54dede9164129300cf0c6a6a0232ce8</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-4108-7.dmg</string>
			<key>Patch</key>
			<string>018-4108-7.patch</string>
			<key>Patch2</key>
			<string>018-4108-7-nowipe.patch</string>
			<key>IV</key>
			<string>fd530c4cf8a878f16387432988b199b8</string>
			<key>Key</key>
			<string>42b4f39976afa59f9ec680fccd2c7d04</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-4118-1.dmg</string>
			<key>Patch</key>
			<string>018-4118-1.patch</string>
			<key>IV</key>
			<string>4b9a4d90965381c1fec08922f7242644</string>
			<key>Key</key>
			<string>d77bd81b9d1adc01fe540eecd885547b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
			<key>IV</key>
			<string>12a18540363aad4f446b264d11ae2692</string>
			<key>Key</key>
			<string>3fe2f270daaeb5debb1d7fe748db42d8</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.ripdev.install</string>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3946-43.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>414</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RootFilesystemKey</key>
	<string>562ca0f7963eafb462da74a9c1f01a45c30a7eb5f1f493feceecae03ee6521a334f4ff68</string>
	<key>RootFilesystemMountVolume</key>
	<string>SugarBowl5F136.M68OS</string>
	<key>SHA1</key>
	<string>353b7745767b85932e14e262e69463620939bdf7</string>
	<key>Filename</key>
	<string>iPhone1,1_2.1_5F136_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,1_2.1_5F136</string>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-5202.20080909.gkbEj/iPhone1,1_2.1_5F136_Restore.ipsw</string>
	<key>Platform</key>
	<integer>1</integer>	
</dict>
</plist>
