<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>c9721629a4d994932c802f4277a9bcee</string>
			<key>Key</key>
			<string>97bfa5c532bf1cef85a147c9eb78e77a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.n82ap.patch</string>
			<key>IV</key>
			<string>d191a46cb673216b516dbf299d7c1c2e</string>
			<key>Key</key>
			<string>8c0d15eeb8f71fb8b436833ab1ad54b1</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>IV</key>
			<string>2b4764d4c5bdeaa4cea2100eac7c47bb</string>
			<key>Key</key>
			<string>de52cebf74b7747360535fde5c331bd1</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>80a64935155a9af54e39fb7c0aa52bd1</string>
			<key>Key</key>
			<string>e54dede9164129300cf0c6a6a0232ce8</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-4122-1.dmg</string>
			<key>Patch</key>
			<string>018-4122-1.patch</string>
			<key>Patch2</key>
			<string>018-4122-1-nowipe.patch</string>
			<key>IV</key>
			<string>66a5b36499cb2af303747b473ef0b219</string>
			<key>Key</key>
			<string>a05dd9094438c350f3ecc97ad13ab065</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-4118-1.dmg</string>
			<key>Patch</key>
			<string>018-4118-1.patch</string>
			<key>IV</key>
			<string>4b9a4d90965381c1fec08922f7242644</string>
			<key>Key</key>
			<string>d77bd81b9d1adc01fe540eecd885547b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.n82ap.RELEASE.patch</string>
			<key>IV</key>
			<string>6f1ea15d6e593050c98559c243bfb144</string>
			<key>Key</key>
			<string>5f378e5445fc9e62257235c7dd4154fe</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.ripdev.install</string>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3940-43.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>414</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RootFilesystemKey</key>
	<string>562ca0f7963eafb462da74a9c1f01a45c30a7eb5f1f493feceecae03ee6521a334f4ff68</string>
	<key>RootFilesystemMountVolume</key>
	<string>SugarBowl5F136.N82OS</string>
	<key>SHA1</key>
	<string>c6957dcbf2a95ccfd6dce374a727b1b7700a9043</string>
	<key>Filename</key>
	<string>iPhone1,2_2.1_5F136_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,2_2.1_5F136</string>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-5198.20080909.K3294/iPhone1,2_2.1_5F136_Restore.ipsw</string>
	<key>Platform</key>
	<integer>3</integer>
</dict>
</plist>
