<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.plist.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/applelogo.img2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/DeviceTree.n45ap.img2</string>
			<key>Patch</key>
			<string>DeviceTree.n45ap.patch</string>
			<key>TypeFlag</key>
			<integer>1</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/LLB.n45ap.RELEASE.img2</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/recoverymode.s5l8900x.img2</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3556-6.dmg</string>
			<key>Patch</key>
			<string>018-3556-6.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/iBoot.n45ap.RELEASE.img2</string>
			<key>Patch</key>
			<string>iBoot.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.iphone-dev.bsd.subsystem</string>
		<string>org.iphone-dev.OpenSSH</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3554-6.dmg</string>
	<key>RootFilesystemFreeSpace</key>
	<integer>142462976</integer>
	<key>RootFilesystemKey</key>
	<string>E24BFAB40A2E5D3DC25E089291846E5615B640897AE8B424946C587BCF53B201A1041D36</string>
	<key>RootFilesystemMountVolume</key>
	<string>Vail5A240d.iPodtouchDeveloperBundle</string>
	<key>RootFilesystemResize</key>
	<string>500m</string>
	<key>SHA1</key>
	<string>E0C84F98B09F23B0AE5308B94E065A6659A68043</string>
	<key>Version</key>
	<string>iPod1,1_2.0_5A240d</string>
	<key>iPwnerAvailable</key>
	<false/>
</dict>
</plist>
