<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>BootNeuter</string>
	<key>Identifier</key>
	<string>org.iphone-dev.bootneuter</string>
	<key>Description</key>
	<string>An ultimate tool to neuter, reflash, fakeblank bootloader and unlock baseband.</string>
	<key>Hidden</key>
	<true/>
	<key>SupportedFirmware</key>
	<array>
		<string>iPhone1,1_1.1.4_4A102</string>
	</array>
	<key>Commands</key>
	<array>
	</array>
	<key>Size</key>
	<integer>4057909</integer>
</dict>
</plist>
