<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.plist.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>bf67cfba9160ad7dbdf44f2baf176458</string>
			<key>Key</key>
			<string>4b69f6c9eed042cacf89fc575ff3b193</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
			<key>Patch</key>
			<string>DeviceTree.n82ap.img3.patch</string>
			<key>IV</key>
			<string>1cc36eafa09616b4a879fcf1faf970a8</string>
			<key>Key</key>
			<string>6da79b6e3f0f496f8651593916ff2b32</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.s5l8900x.patch</string>
			<key>IV</key>
			<string>285df0aa00b76e8c0b9870a4dd7bd5f6</string>
			<key>Key</key>
			<string>444f19d072e725f8a27d88ce50ce73de</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n82ap.RELEASE.img3.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>0e1504c70c2b7eabe2488a5bf7b1ac60</string>
			<key>Key</key>
			<string>2e5d3470a5a1c9ab8b6c7c334569e86f</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3882-4.dmg</string>
			<key>Patch</key>
			<string>018-3882-4.dmg.patch</string>
			<key>Patch2</key>
			<string>018-3882-4-nowipe.dmg.patch</string>
			<key>IV</key>
			<string>024fdbba71ebf34df5b525cd975aefe8</string>
			<key>Key</key>
			<string>219eac3e01276c7ec50432123f50971a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-3881-4.dmg</string>
			<key>Patch</key>
			<string>018-3881-4.dmg.patch</string>
			<key>IV</key>
			<string>e33d5c7af40422bb32a9e522cb0448b0</string>
			<key>Key</key>
			<string>fc0dfb4d99bfb020621f28f3d6ed774b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n82ap.RELEASE.dfu.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n82ap.RELEASE.dfu.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n82ap.RELEASE.dfu.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.dfu.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>iBoot.n82ap.RELEASE.img3.patch</string>
			<key>IV</key>
			<string>e5da914dbe543767dc71a076dfbf7317</string>
			<key>Key</key>
			<string>467b29af0350ba297cffd14bfb0f94c8</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>com.apptapp.Installer2</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-3880-4.dmg</string>
	<key>RootFilesystemUsedSpace</key>
	<integer>459</integer>
	<key>RootFilesystemSize</key>
	<integer>500</integer>
	<key>RamdiskSize</key>
	<integer>25</integer>
	<key>RootFilesystemKey</key>
	<string>2cfca55aabb22fde7746e6a034f738b7795458be9902726002a8341995558990f41e3755</string>
	<key>RootFilesystemMountVolume</key>
	<string>BigBear5B108.N82OS</string>
	<key>SHA1</key>
	<string>e81c7ac7e334a3e9d81b3b47894bfaa1ec495482</string>
	<key>Filename</key>
	<string>iPhone1,2_2.0.1_5B108_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,2_2.0.1_5B108_Restore</string>
	<key>Platform</key>
	<integer>3</integer>
</dict>
</plist>
