<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.plist.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.img2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/DeviceTree.m68ap.img2</string>
			<key>Patch</key>
			<string>DeviceTree.m68ap.patch</string>
			<key>TypeFlag</key>
			<integer>1</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/LLB.m68ap.RELEASE.img2</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img2</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>022-3972-2.dmg</string>
			<key>Patch</key>
			<string>022-3972-2_nobb.patch</string>
			<key>Patch2</key>
			<string>022-3972-2.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img2</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.iphone-dev.bsd.subsystem</string>
		<string>org.iphone-dev.OpenSSH</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>022-3969-2.dmg</string>
	<key>RootFilesystemFreeSpace</key>
	<integer>232943616</integer>
	<key>RootFilesystemKey</key>
	<string>86BEC353DDFBE3FB750E9D7905801F79791E69ACF65D16930D288E697644C76F16C4F16D</string>
	<key>RootFilesystemMountVolume</key>
	<string>Vail5A147p.iPhoneDeveloperBundle</string>
	<key>RootFilesystemResize</key>
	<string>500m</string>
	<key>SHA1</key>
	<string>D14BA2B3F6FF46C1030FF4A127BC1E576B433D75</string>
	<key>Version</key>
	<string>iPhone1,1_1.2.0_5A147p</string>
	<key>iPwnerAvailable</key>
	<false/>
</dict>
</plist>
